@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
 
:root{
    --background-color__main: #323232;
    --backgound-color__secondary: #797979;
    --header-color: #141414;
    --main-color__text: #fafafa;

    --color-palette__pink: #ff2097;
    --color-palette__orange: #ff8820;
    --color-palette__yellow: #fcf33d;
}

/* body */
body{
    background-color: var(--background-color__main);
    margin: 0 auto;
    max-width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

/* Top bar */
header{
    position: relative;
    background-color: var(--header-color);
    padding: 2px;
    z-index: 2;
}

header > img{
    height: 50px;
}

/* navigation */

nav{
    position: sticky;
    margin: 0;
    z-index: 1;
    right: 50px;
    width: 250px;
}

.navigation{
    position: fixed;
    right: -500px; 
    width: 350px;
    height: 100%;
    background-color: var(--header-color);
    transition: 0.5s;
    padding: 20px;
}

.navigation.active{
    right: 0;
}

a,button{
    cursor: pointer;
}

.hamburger{
    display: block;
    top: 50%;
    right: 50px;
    width: 30px;
    height: 30px;
    transform: translateY(-50%);
    border: 0;
    background: 0 0;
}

.hamburger, .bar{
    position: absolute;
}

.bar{
    top: 3px;
    background: #fafafa;
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
}

#bar2{
    top: 11px;
}

#bar3{
    top: 19px;
}

.hamburger.open #bar1{
    background-color: var(--main-color__text);
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2{
    background-color: transparent;
}

.hamburger.open #bar3{
    background-color: var(--main-color__text);
    transform: rotate(-45deg) translate(6px, -5px);
}

ul{
    list-style: none;
}

li{
    border-bottom: 1.5px solid var(--background-color__main);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    transition: 1.5s;
}

li a{
    text-decoration: none;
    color: #fafafa;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
    padding: 10px;
}

ul li a{
    transition: 0.5s;
}

ul li a:hover{
    font-size: 1.6em;
    transition: 0.5s;
    text-shadow: var(--main-color__text) 2px 2px 20px;
}

li:hover{
    border-bottom: 1.5px solid var(--main-color__text);
    transition: 1s;
}

ul li a.capage{
    color: var(--color-palette__yellow);
}

li a.capage:hover{
    text-shadow: var(--color-palette__yellow) 2px 2px 20px;
}

article{
    color: var(--main-color__text);
    text-decoration: none;
}

article p > a{
    color: var(--color-palette__yellow);
}
